name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.22.7
      - name: Setup Golang caches
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum', '**/work.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-
      - name: Build check
        run: make binaries
  test:
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.22.7
      - name: Setup Golang caches
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/.cache/golangci-lint
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum', '**/work.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-
      - name: Generate Sources
        run: make generate-sources
      - name: Check generated sources
        run: |
          git add .
          git diff --cached --quiet
      - name: Linting check
        run: make lint
      - name: Run Gosec Security Scanner
        run: make sec
      - name: Run Tests
        run: make test-coverage
      - name: Check Dependency Licenses
        run: make license-check
      # Upload coverage report if for core
      - name: Upload Coverage Report Core
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: ./core/all.coverprofile
          flags: core # optional
      - name: Upload Coverage Report AWS
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: ./cloud/aws/all.coverprofile
          flags: aws # optional
      - name: Upload Coverage Report GCP
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: ./cloud/gcp/all.coverprofile
          flags: gcp # optional
      - name: Upload Coverage Report Azure
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: ./cloud/azure/all.coverprofile
          flags: azure # optional
